<html>

<head>
    <meta charset="utf-8" />
    <title>Kakao 지도</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="map" style="width:100%;height:100%;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8dccf468719bb6aad174ec3be6a6bdcf&libraries=clusterer"></script>
    <script>
        var map = new kakao.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
            center: new kakao.maps.LatLng(37.56, 127), // 지도의 중심좌표 
            level: 9 // 지도의 확대 레벨 
        });

        // 마커 클러스터러를 생성합니다 
        var clusterer = new kakao.maps.MarkerClusterer({
            map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체 
            averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정 
            minLevel: 3 // 클러스터 할 최소 지도 레벨 
        });

        // 데이터를 가져오기 위해 jQuery를 사용합니다
        // 데이터를 가져와 마커를 생성하고 클러스터러 객체에 넘겨줍니다
        $.get("/main/home/", function (data) {
            // 데이터에서 좌표 값을 가지고 마커를 표시합니다
            // 마커 클러스터러로 관리할 마커 객체는 생성할 때 지도 객체를 설정하지 않습니다
            var markers = data.map(function (item) {
                return new kakao.maps.Marker({
                    position: new kakao.maps.LatLng(item.stationLatitude, item.stationLongitude)
                });
            });

            // 클러스터러에 마커들을 추가합니다
            clusterer.addMarkers(markers);
        });

        // if (navigator.geolocation) {

        //     navigator.geolocation.getCurrentPosition(function (position) {

        //         var lat = position.coords.latitude, // 위도
        //             lon = position.coords.longitude; // 경도

        //         var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
        //             message = '<div style="padding:5px;">현재 위치!!!</div>'; // 인포윈도우에 표시될 내용입니다

        //         // 마커와 인포윈도우를 표시합니다
        //         displayMarker(locPosition, message);

        //     });

        // } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

        //     var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
        //         message = 'geolocation을 사용할수 없어요..'

        //     displayMarker(locPosition, message);
        // }

        // // 지도에 마커와 인포윈도우를 표시하는 함수입니다
        // function displayMarker(locPosition, message) {

        //     // 마커를 생성합니다
        //     var marker = new kakao.maps.Marker({
        //         map: map,
        //         position: locPosition
        //     });

        //     var iwContent = message, // 인포윈도우에 표시할 내용
        //         iwRemoveable = true;

        //     // 인포윈도우를 생성합니다
        //     var infowindow = new kakao.maps.InfoWindow({
        //         content: iwContent,
        //         removable: iwRemoveable
        //     });

        //     // 인포윈도우를 마커위에 표시합니다 
        //     infowindow.open(map, marker);

        //     // 지도 중심좌표를 접속위치로 변경합니다.(추후 주석풀기)
        //     map.setCenter(locPosition);
        // }
    </script>
</body>

</html>